In [1]:
%pwd

'f:\\Nam\\CODE\\SIC 2024\\Project\\Cleaning'

In [2]:
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install --upgrade pandas

Requirement already satisfied: pandas in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\download\anaconda_down\anaconda _install\envs\env_bd\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

<h2> Import data</h2>

In [11]:
df_=pd.read_csv(r"F:\Nam\CODE\SIC 2024\Project\Cleaning\predata.csv",encoding='utf-8')
df=df_.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360212 entries, 0 to 360211
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Title         360211 non-null  object
 1   Price         336684 non-null  object
 2   CountPreview  354959 non-null  object
 3   NameComment   360103 non-null  object
 4   Comment       360211 non-null  object
 5   Star          336845 non-null  object
dtypes: object(6)
memory usage: 16.5+ MB

In [7]:
df.head()

,Title,Price,CountPreview,NameComment,Comment,Star
0,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,0***2Chứng nhận đã mua hàng,nó bị giật điên khi đeo vào tai,NaN
1,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******668Chứng nhận đã mua hàng,,★★★★☆
2,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******028Chứng nhận đã mua hàng,,★★★★★
3,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,bé V.Chứng nhận đã mua hàng,,★★★★☆
4,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,Chắc L.Chứng nhận đã mua hàng,đặt 2 tai mà 1 tai thì ok nhưng nút tăng giảm ...,NaN

<h2> Drop unneeded columns</h2>

In [37]:
df.drop(["Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 13","Unnamed: 14","Unnamed: 15","Unnamed: 16","Unnamed: 17","Unnamed: 18","Unnamed: 19","Unnamed: 20","Unnamed: 21","Unnamed: 22"],axis=1,inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319673 entries, 0 to 319672
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Title         319673 non-null  object
 1   Price         317328 non-null  object
 2   CountPreview  316621 non-null  object
 3   NameComment   319609 non-null  object
 4   Comment       228473 non-null  object
 5   Star          298453 non-null  object
dtypes: object(6)
memory usage: 14.6+ MB

<h2> Cleaning</h2>

In [12]:
df.isna().sum()

Title               1
Price           23528
CountPreview     5253
NameComment       109
Comment             1
Star            23367
dtype: int64

In [13]:
df.duplicated(subset=["NameComment","Comment","Star"]).sum()

np.int64(277221)

In [14]:
df1=df.drop_duplicates(subset=["NameComment","Comment","Star"])

In [15]:
df1.duplicated(subset=["NameComment","Comment","Star"]).sum()

np.int64(0)

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82991 entries, 0 to 348137
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         82990 non-null  object
 1   Price         74316 non-null  object
 2   CountPreview  81273 non-null  object
 3   NameComment   82989 non-null  object
 4   Comment       82990 non-null  object
 5   Star          76410 non-null  object
dtypes: object(6)
memory usage: 4.4+ MB

In [17]:
df2 = df1.dropna(subset=['Star'])

In [18]:
df2.isna().sum()

Title              0
Price           7700
CountPreview    1717
NameComment        0
Comment            0
Star               0
dtype: int64

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76410 entries, 1 to 348137
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         76410 non-null  object
 1   Price         68710 non-null  object
 2   CountPreview  74693 non-null  object
 3   NameComment   76410 non-null  object
 4   Comment       76410 non-null  object
 5   Star          76410 non-null  object
dtypes: object(6)
memory usage: 4.1+ MB

<h3> Handle star numbers</h3>

In [20]:
# Filter out rows with invalid characters in 'Star' column
def filter_invalid_stars(df):
    return df[df['Star'].str.match(r'^[\s★☆]*$')]

# Apply function to a copy of df2
df2_filtered = filter_invalid_stars(df2.copy())

In [21]:
df2_filtered['StarCount'] = df2_filtered['Star'].str.count('★')

In [22]:
df2_filtered.drop('Star', axis=1, inplace=True)

In [23]:
df2_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75293 entries, 1 to 348137
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         75293 non-null  object
 1   Price         67593 non-null  object
 2   CountPreview  74445 non-null  object
 3   NameComment   75293 non-null  object
 4   Comment       75293 non-null  object
 5   StarCount     75293 non-null  int64
dtypes: int64(1), object(5)
memory usage: 4.0+ MB

In [24]:
df2_filtered.head()

,Title,Price,CountPreview,NameComment,Comment,StarCount
1,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******668Chứng nhận đã mua hàng,,4
2,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******028Chứng nhận đã mua hàng,,5
3,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,bé V.Chứng nhận đã mua hàng,,4
5,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,Truong L.Chứng nhận đã mua hàng,,4
6,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,H***.Chứng nhận đã mua hàng,,5

<h3> Fill NA comment cells</h3>

In [ ]:
df2_filtered.loc[:, 'Comment'] = df2['Comment'].fillna("").astype(str)
df2_filtered.info()

In [ ]:
df2_filtered.head()

<h3> Filter special characters</h3>

In [27]:
import pandas as pd
import re

# Function to filter special characters for Vietnamese text
def filter_vietnamese_specials(text):
  """
  Filters special characters while preserving Vietnamese characters.

  Args:
      text: The text to be filtered.

  Returns:
      The filtered text with special characters removed.
  """
  # Regular expression to match special characters except Vietnamese characters
  special_chars_pattern = r"[^\w\sÀÁÃẮẰẠẢẤÃÕÖỐỒƠỞỜỢƯỨỪỰÝỲỴỶỸĐđ]"
  return re.sub(special_chars_pattern, " ", text)

# Apply the filtering function to the "Comment" column only
df3=df2_filtered.copy()
df3['Comment'] = df2_filtered['Comment'].apply(filter_vietnamese_specials)

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75293 entries, 1 to 348137
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         75293 non-null  object
 1   Price         67593 non-null  object
 2   CountPreview  74445 non-null  object
 3   NameComment   75293 non-null  object
 4   Comment       75293 non-null  object
 5   StarCount     75293 non-null  int64
dtypes: int64(1), object(5)
memory usage: 4.0+ MB

In [29]:
print(df3)

                                                    Title   Price  \
1       "Test Kỹ" Tai Nghe Samsung Galasy J5 J7 Dùng c...   16000
2       "Test Kỹ" Tai Nghe Samsung Galasy J5 J7 Dùng c...   16000
3       "Test Kỹ" Tai Nghe Samsung Galasy J5 J7 Dùng c...   16000
5       "Test Kỹ" Tai Nghe Samsung Galasy J5 J7 Dùng c...   16000
6       "Test Kỹ" Tai Nghe Samsung Galasy J5 J7 Dùng c...   16000
...                                                   ...     ...
347789  Tuya smart camera fofu 5MP IP WiFi fofu multi-...  190000
347790  Tuya smart camera fofu 5MP IP WiFi fofu multi-...  190000
347791  Tuya smart camera fofu 5MP IP WiFi fofu multi-...  190000
347793  Tuya Smart Life Wifi IP Camera chống trộm Xem ...  169000
348137  Tuya Smart Life Wifi IP Camera chống trộm Xem ...  169000

                           CountPreview                       NameComment  \
1       2.4K Đã bán\n(406)\nHồ Chí Minh  *******668Chứng nhận đã mua hàng
2       2.4K Đã bán\n(406)\nHồ Chí Minh  *******028Chứng nhận đã mua hàng
3       2.4K Đã bán\n(406)\nHồ Chí Minh       bé V.Chứng nhận đã mua hàng
5       2.4K Đã bán\n(406)\nHồ Chí Minh   Truong L.Chứng nhận đã mua hàng
6       2.4K Đã bán\n(406)\nHồ Chí Minh       H***.Chứng nhận đã mua hàng
...                                 ...                               ...
347789      136 sold\n(50)\nHồ Chí Minh      Sơn N.Chứng nhận đã mua hàng
347790      136 sold\n(50)\nHồ Chí Minh      Sơn N.Chứng nhận đã mua hàng
347791      136 sold\n(50)\nHồ Chí Minh      Sơn N.Chứng nhận đã mua hàng
347793  1.6K Đã bán\n(534)\nHồ Chí Minh   ******697Chứng nhận đã mua hàng
348137  1.6K Đã bán\n(534)\nHồ Chí Minh    huynh K.Chứng nhận đã mua hàng

                                                  Comment  StarCount
1                                                                  4
2                                                                  5
3                                                                  4
5                                                                  4
6                                                                  5
...                                                   ...        ...
347789  Convenient cloud management  Sturdy and durabl...          2
347790  Giá trị tuyệt vời cho số tiền bỏ ra  Hình ảnh ...          5
347791  Cài đặt dễ dàng với mã QR  Giá trị tuyệt vời c...          1
347793                                                             5
348137                                                             5

[75293 rows x 6 columns]

In [30]:
df3.head()

,Title,Price,CountPreview,NameComment,Comment,StarCount
1,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******668Chứng nhận đã mua hàng,,4
2,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,*******028Chứng nhận đã mua hàng,,5
3,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,bé V.Chứng nhận đã mua hàng,,4
5,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,Truong L.Chứng nhận đã mua hàng,,4
6,"""Test Kỹ"" Tai Nghe Samsung Galasy J5 J7 Dùng c...",16000,2.4K Đã bán\n(406)\nHồ Chí Minh,H***.Chứng nhận đã mua hàng,,5

<h3>Save</h3>

In [31]:
# Define the path and filename for the CSV file
csv_file_path = "data_cleaning.csv"  # Replace with your desired filename

# Save the DataFrame to the CSV file with UTF-8 encoding
df3.to_csv(csv_file_path, index=False, encoding='utf-8')  # Set index=False to exclude the index column

<h2>Test code</h2>

In [26]:
import pandas as pd
import re

# Function to filter special characters for Vietnamese text
def filter_vietnamese_specials(text):
  """
  Filters special characters while preserving Vietnamese characters.

  Args:
      text: The text to be filtered.

  Returns:
      The filtered text with special characters removed.
  """
  # Regular expression to match special characters except Vietnamese characters
  special_chars_pattern = r"[^\w\sÀÁÃẮẰẠẢẤÃÕÖỐỒƠỞỜỢƯỨỪỰÝỲỴỶỸĐđ]"
  return re.sub(special_chars_pattern, " ", text)



# Print the DataFrame with filtered comments
print(filter_vietnamese_specials("bào ヾ(≧▽≦*)oquan tổn😘g hợp chuỗi po,lypep.tide dựa trên khuôn mã của!>?    @@ ARN thông tin (Me"))

bào ヾ      oquan tổn g hợp chuỗi po lypep tide dựa trên khuôn mã của          ARN thông tin  Me